name: Update menu data

on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * *"

permissions:
  contents: write
  pull-requests: write

jobs:
  update_menu_data:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Update menu data
        run: bundle exec ruby script/update_menu_data.rb
      - uses: peter-evans/create-pull-request@v8
        id: create-pull-request
        with:
          commit-message: Update menu data
          delete-branch: true
          title: Update menu data
      - name: Comments
        if: ${{ steps.create-pull-request.outputs.pull-request-number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: gh pr comment ${{ steps.create-pull-request.outputs.pull-request-number }} -b "$(ruby script/diff_menus.rb)" --repo ${{ github.repository }}
